* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
form button{
        font-family: "Bungee", cursive;
        font-weight: normal;
        
      }
      body,input,textarea {
        font-family: 'roboto',sans-serif;
      }
header{
    padding:50px 0 ;
    background-color: #182c61;
    color: #ecf0f1;
    background-image: url('https://internetsegura.locaweb.com.br/images/guia-seguranca-digital-web/adcast_desktop.png?v=1.16.87');
}


header nav  li{
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

header nav li a {
    color:#f8fcf1 ;
    text-decoration:none ;
}


.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}
.brands-list li{
   display: inline; 
   margin-right: 8px;
}
section .container {
    align-items: flex-start;
}
section{
    padding: 24px 0;
}
section h2 {
    margin-bottom: 16px;
    
}
section {
    color:#0E2954 ;
    
}

section p {
    margin: bottom 8px; 
}
.store-font {
    margin-right: 32px;
}

.social-links img{
    height:24px ;

}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration:none ;
}
#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input,
form textarea,
form button{
display: block;
width:320px ;
margin-bottom: 8px;
padding: 8px; 
}

form textarea{
   resize: none; 
   height: 180px;
}

section h3{
    margin: bottom 16px; ;
}
form button{
    background-color:#182c61 ;
    color: #ecf0f1;
    border: none;
    cursor:pointer ;
}
form button:hover{
 background-color:#314fa1 ;   
}

input:focus,textarea:focus{
    outline-color:#314fa1 ;
}
footer{
    background-color:#76ABAE ;
    color:#31363F;
    padding: 16px 0;

}

body {
    margin: 0; 
    padding: 0; 
    background-image: url('https://img.freepik.com/vetores-gratis/conceito-de-seguranca-cibernetica_53876-93190.jpg?w=740&t=st=1710364893~exp=1710365493~hmac=564f8bc4b62816b490593af5b6c8e1d6308e5804d43cab5764470fe0b9fecc49'); /* Caminho para sua imagem de fundo */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    }
li img {
    width: 60px; 
}
.store-font{ 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}
